name: govulncheck

on:
  push:
    branches-ignore: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  govulncheck:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ["1.24"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}

      - uses: golang/govulncheck-action@v1
        with:
          go-version-input: ${{ matrix.go }}
